#select_primary{
  margin: 0;
  height: 100%;
}

.small-img{
  width:50%;
}

.dark-blue-jan{
  background-color: #2196F3 !important;
}

.light-blue-jan{
  background-color: #03A9F4;
}

.button_wrapper {
    box-shadow: 0px 0px 4px rgba(255,255,255, 0.3);
  width: 100%;
  position: absolute;
  bottom: 7vh;
}

.card-title {
    padding-top: 10vh !important;
}

.card > div {
    padding: 20px;
    text-align: center;
}